/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Eric Meyer's reset above. 

    Styling below           */


body {
    font-family: 'Work Sans', sans-serif;
    background: #EED9C4;
}
header {
    width: 93.5vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
h1 {
    background: red;
    margin-top: 1%;
    height: 5vh;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 4.3vw;
    /* margin-left: 2%; */
}
nav {
    display: flex;
    width: 41vw;
    justify-content: space-between;
}
nav a {
    font-size: 2vw;
    font-weight: lighter;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    background: red;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1%;
    width: 9vw;
    height: 3vh;
}
nav a:hover {
    background: #B60006;
}

/* contact links */

section {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* footer */

footer {
    background: #69725C;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer a {
    font-size: 2vw;
    font-weight: lighter;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    background: red;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1%;
    width: 9vw;
    height: 3vh;
}
footer a:hover {
    background: #B60006;
}