/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Eric Meyer's reset above. 

    Styling below           */


body {
    font-family: 'Work Sans', sans-serif;
    background: #EED9C4;
}
header {
    width: 93.5vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
h1 {
    background: red;
    margin-top: 1%;
    height: 5vh;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 4.3vw;
    /* margin-left: 2%; */
}
nav {
    display: flex;
    width: 41vw;
    justify-content: space-between;
}
nav a {
    font-size: 2vw;
    font-weight: lighter;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    background: red;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1%;
    width: 9vw;
    height: 3vh;
}
nav a:hover {
    background: #B60006;
}

/* text over image section */

section:nth-of-type(1) {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.image-text {
    position: absolute;
}
.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes stretch {
    from {letter-spacing: normal;}
    to {letter-spacing: 2vw;}
}
.image-text h2 {
    animation-name: stretch;
    animation-direction: reverse;
    animation-delay: 0.8;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 10vw;
}
.image-text div {
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    width: 17vw;
    height: 3.5vh;
}
.image-text div:hover { 
    background: #B60006;
}
.image-text a {
    text-transform: lowercase;
    font-weight: lighter;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    text-decoration: none;
    width: 17vw;
    padding: 1% 0;
}
.image-text a:hover {
    background: #B60006;
}

/* dealing with bottom images */

section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 83vw;
    height: 60vh;
    margin: 3% 3.5vw 5% 7.2vw;
    justify-content: space-between; 
    align-content: space-between;
}
@media only screen and (max-height: 955px) {
    section:nth-of-type(2) {
        height: 110vh;
    }
}
@media only screen and (max-width: 500px) {
    section:nth-of-type(2) {
        height: 110vh;
    }
    section:nth-of-type(2) img {
        width: 100;
    }
}

/* footer */

footer {
    background: #69725C;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer a {
    font-size: 2vw;
    font-weight: lighter;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    background: red;
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1%;
    width: 9vw;
    height: 3vh;
}
footer a:hover {
    background: #B60006;
}